.menu{
    text-decoration: underline;
    color: black;
}

.footer{
    text-align: center;
}

.title{
    margin: 0;
}

ol{
    margin-top: 0;
}

li.marker::marker{
    content: "\2606  ";
    font-weight: bold;
}

table{
    width: auto;
    border-collapse: collapse;
}

td{
    padding: 8px 12px;
    border: 1px solid black;
}